PDF/Snohomish/Snohomish County.txt
PDF/Skagit/A2019Bidsheet - skagit.pdf
PDF/Snohomish/A2018 Cert of Del with Exh A - Snohomish 2021.txt
PDF/Pierce/pierce county.pdf
PDF/Pierce/PARCEL LIST for web_201909121040359136- PIERCE.pdf
PDF/Pierce/A2022 WEB LIST_202208111611191780 - PIERCE COUNTY.pdf
PDF/Snohomish County.txt
PDF/PARCEL LIST for web_201909121040359136- PIERCE.pdf
PDF/pierce county.pdf
PDF/A2022 WEB LIST_202208111611191780 - PIERCE COUNTY.pdf
PDF/A2018 Cert of Del with Exh A - Snohomish 2021.txt
PDF/A2019Bidsheet - skagit.pdf
__pycache__/SnohomishParser.cpython-39.pyc
__pycache__/SkagitTableParser.cpython-39.pyc
__pycache__/PierceTableParser.cpython-39.pyc
__pycache__/ChangeFileName.cpython-39.pyc
CSV/Amy example file.csv
PDF/Amy example file.pdf
